body {
    background-color: black;
    font-family: Ubuntu, Arial;
    margin: 0em;
    min-height: 100%;
    padding: 1em;
}

h1, h2, h3, p, a {
    color: #dddddd;
    font-weight: 400;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.5em;
}

p, a {
    font-size: 1.1em;
    margin-bottom: 0.4em;
}

a, .click {
    text-decoration: underline;
}
