html {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-family: ubuntu;
    font-size: 32px;
}

p {
    color: white;
    font-family: ubuntu;
    font-size: 16px;
}

a {
    color: white;
    font-family: ubuntu;
    font-size: 16px;
}

.header {
    background-color: #161616;
    padding: 20px;
    text-align: center;
}
